test/pipeline/Copie de Fichiers - Blob.json
{
	"name": "Copie de Fichiers - Blob",
	"properties": {
		"description": "https://hk.saowen.com/a/2a1ceb923605903a033b4b0d988068987720d1c9324cb285f76acfae564f65b1",
		"activities": [
			{
				"name": "Liste_des_fichiers",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "AzureBlob4",
						"type": "DatasetReference",
						"parameters": {
							"path": "sinkBlobContainer"
						}
					},
					"fieldList": [
						"childItems"
					]
				}
			},
			{
				"name": "Alimentation_tab",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Liste_des_fichiers",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Liste_des_fichiers').output.childitems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Append Variable1",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "var_file_list",
								"value": {
									"value": "concat('adfv2branch/',item().name)",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Lecture_tab",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Alimentation_tab",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('var_file_list')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set Variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "resultat",
								"value": "OK"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"sinkBlobContainer": {
				"type": "string",
				"defaultValue": "adfv2branch"
			}
		},
		"variables": {
			"var_file_list": {
				"type": "Array"
			},
			"resultat": {
				"type": "String",
				"defaultValue": "KO"
			}
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}