test/pipeline/Master.json
{
	"name": "Master",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": "select '2018-02-01'  as datedeb ,  '2018-05-31'   as datefin\n\n"
					},
					"dataset": {
						"referenceName": "dbo_DimClient_i_aqz",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ETL-SQL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"windowStart": {
							"value": "@{activity('Lookup1').output.firstRow.datedeb}",
							"type": "Expression"
						},
						"windowEnd": {
							"value": "@{activity('Lookup1').output.firstRow.datefin}",
							"type": "Expression"
						}
					}
				}
			}
		]
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}