test/pipeline/run Python.json
{
	"name": "run Python",
	"properties": {
		"description": "https://medium.com/@ashish.kats/custom-batch-activity-in-azure-data-factory-110d8c1c957b",
		"activities": [
			{
				"name": "task python",
				"type": "Custom",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"command": {
						"value": "@concat('python main2.py',' ', variables('message'))",
						"type": "Expression"
					},
					"resourceLinkedService": {
						"referenceName": "AzureBlobStorageBatch",
						"type": "LinkedServiceReference"
					},
					"folderPath": "input",
					"referenceObjects": {
						"linkedServices": [],
						"datasets": []
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureBatch1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "task python -Refresh PBI dataflow",
				"type": "Custom",
				"dependsOn": [
					{
						"activity": "task python - load SQL formated table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"command": "python main.py",
					"resourceLinkedService": {
						"referenceName": "AzureBlobStorageBatch",
						"type": "LinkedServiceReference"
					},
					"folderPath": "input",
					"referenceObjects": {
						"linkedServices": [],
						"datasets": []
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureBatch1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "task python -API",
				"type": "Custom",
				"dependsOn": [
					{
						"activity": "Script1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"command": "python main.py",
					"resourceLinkedService": {
						"referenceName": "AzureBlobStorageBatch",
						"type": "LinkedServiceReference"
					},
					"folderPath": "input",
					"referenceObjects": {
						"linkedServices": [],
						"datasets": []
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureBatch1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Task python - Load RAW SQL",
				"type": "Custom",
				"dependsOn": [
					{
						"activity": "task python -API",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"command": "python main.py",
					"resourceLinkedService": {
						"referenceName": "AzureBlobStorageBatch",
						"type": "LinkedServiceReference"
					},
					"folderPath": "input",
					"referenceObjects": {
						"linkedServices": [],
						"datasets": []
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureBatch1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "task python - load SQL formated table",
				"type": "Custom",
				"dependsOn": [
					{
						"activity": "Task python - Load RAW SQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"command": "python main.py",
					"resourceLinkedService": {
						"referenceName": "AzureBlobStorageBatch",
						"type": "LinkedServiceReference"
					},
					"folderPath": "input",
					"referenceObjects": {
						"linkedServices": [],
						"datasets": []
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureBatch1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "task python - Refresh PBI dataset",
				"type": "Custom",
				"dependsOn": [
					{
						"activity": "task python -Refresh PBI dataflow",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"command": "python main.py",
					"resourceLinkedService": {
						"referenceName": "AzureBlobStorageBatch",
						"type": "LinkedServiceReference"
					},
					"folderPath": "input",
					"referenceObjects": {
						"linkedServices": [],
						"datasets": []
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureBatch1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Script1",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference",
					"parameters": {
						"NomBase": "DistrisysDW"
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "print 'aa'"
						}
					]
				}
			},
			{
				"name": "task python message",
				"description": "https://medium.com/@ashish.kats/custom-batch-activity-in-azure-data-factory-110d8c1c957b",
				"type": "Custom",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"command": "python message2.py",
					"resourceLinkedService": {
						"referenceName": "AzureBlobStorageBatch",
						"type": "LinkedServiceReference"
					},
					"folderPath": "input",
					"referenceObjects": {
						"linkedServices": [],
						"datasets": []
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureBatch1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set variable1",
				"description": "https://medium.com/@ashish.kats/custom-batch-activity-in-azure-data-factory-110d8c1c957b",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "task python message",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "message",
					"value": {
						"value": "@activity('task python message').output.customOutput.my_key",
						"type": "Expression"
					}
				}
			},
			{
				"name": "task python_copy1",
				"type": "Custom",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"command": {
						"value": "@concat('python main2.py',' ', pipeline().parameters.param1)",
						"type": "Expression"
					},
					"resourceLinkedService": {
						"referenceName": "AzureBlobStorageBatch",
						"type": "LinkedServiceReference"
					},
					"folderPath": "input",
					"referenceObjects": {
						"linkedServices": [],
						"datasets": []
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureBatch1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"Param1": {
				"type": "string",
				"defaultValue": "AA"
			}
		},
		"variables": {
			"message": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Test Azure Batch"
		},
		"annotations": [],
		"lastPublishTime": "2021-09-17T06:57:30Z"
	}
}