test/pipeline/Test API HTTP.json
{
	"name": "Test API HTTP",
	"properties": {
		"activities": [
			{
				"name": "Copy Data JSON",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Viewer API",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "BlobSink"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "URL_Http_Json",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Produit_Json_ABS",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Viewer API",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Fabrication URL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@variables('URL')",
						"type": "Expression"
					},
					"method": "GET"
				}
			},
			{
				"name": "Fabrication URL",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Viewer",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "URL",
					"value": {
						"value": "@concat('https://oc-jswebsrv.herokuapp.com/api/','articles')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy Data TXT",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Viewer API",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "BlobSink"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "URL_Http_Json",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AzureBlob3_ABS",
						"type": "DatasetReference",
						"parameters": {
							"filename": "json_http.txt"
						}
					}
				]
			},
			{
				"name": "Nom pipeline",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Name",
					"value": {
						"value": "@pipeline().DataFactory",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Viewer",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Nom pipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Name2",
					"value": {
						"value": "CONCAT(\"Le nom du pipeline est :\", @variables('Name'))",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"URL": {
				"type": "String"
			},
			"Name": {
				"type": "String"
			},
			"Name2": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Http"
		},
		"annotations": []
	}
}